TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=
TELEGRAM_BRIDGE_TOKEN=
REQUEST_TIMEOUT_SECONDS=25
TELEGRAM_BATCH_CHUNK_SIZE=100
MAX_BATCH_CHUNK_SIZE=100
MAX_CHAT_SCAN_PAGE_SIZE=100
MAX_CHAT_SCAN_PAGES=20
MAX_PUBLIC_PAGE_TEXT_FALLBACK=true
MAX_VERIFY_TLS=false
